html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;

    margin: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/

    background-color: hsl(237, 49%, 15%);
    background-image: radial-gradient(at top, hsl(214, 47%, 23%) 10%, hsl(237, 49%, 15%) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Barlow Semi Condensed', sans-serif;
}

header {
    display: flex;

    margin: 2rem;

    justify-content: center;
}

header h1 {
    margin: 0;

    font-weight: 700;
    line-height: 1.75rem;
    color: white;
}

.flex {
    display: flex;
}

.logo {
    align-content: center;
    justify-content: center;
}

.border {
    justify-content: space-between;
    align-content: center;

    padding: 1rem;

    height: auto;
    width: 500px;

    border: 1px white solid;
    border-radius: 0.7rem;
    background-color: transparent;
}

.score {
    cursor: default;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    height: 6rem;
    width: 7.5rem;

    border-radius: 0.5rem;
    background-color: white;
}

.score p {
    margin: 0;

    font-weight: 600;
    color: hsl(229, 64%, 46%);
}

.score h1 {
    margin: 0.5rem;

    font-size: 3rem;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}

.rules {
    justify-content: right;
}

.circle-base {
    display: flex;
    flex-direction: column;

    justify-content: center;

    height: 120px;
    width: 120px;

    border-radius: 50%;

}

.rock {
    border-bottom: solid #9f1733 .4rem;

    background-color: #da2e4e;
    background-image: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
}

.paper {
    border-bottom: solid #2742bf .4rem;

    background-color: hsl(230, 89%, 65%);
    background-image: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
}

.scissors {
    border-bottom: solid #c66d1d .4rem;

    background-color: hsl(40, 84%, 53%);
    background-image: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
}

.lizard {
    border-bottom: solid #5f37aa .4rem;

    background-color: hsl(261, 72%, 63%);
    background-image: linear-gradient(hsl(261, 72%, 63%), hsl(261, 73%, 60%));
}

.spock {
    border-bottom: solid #2c8fac .4rem;

    background-color: hsl(189, 58%, 57%);
    background-image: linear-gradient(hsl(189, 58%, 57%), hsl(189, 59%, 53%));
}

.hide {
    display: none;
}

.white-base {
    display: flex;

    height: 90px;
    width: 90px;

    align-self: center;
    justify-content: center;

    border-top: solid #c4c4c4 .4rem;
    border-radius: 50%;

    background-color: white;
}

.white-base svg {
    align-self: center;
}