:root {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    background: hsl(224, 50%, 20%);
    background: radial-gradient(hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 200%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-width: 320px;
    min-height: 100vh;
}

body button {
    border: 0;
    border-radius: 5px;
    height: 40px;
    width: 150px;
}

body h1 {
    margin: 0 0 20px 0;
    color: white;
}

#game-area {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    justify-content: center;
    width: 320px;
    height: 14rem;
}

header {
    margin: 2rem 0 4rem 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 290px;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 5px;
}

header div {
    background-color: white;
    border-radius: 5px;
    width: 65px;
    height: 60px;
    text-align: center;
}

header h6, h2 {
    margin: 0;
}

#rules {
    position: absolute;
    bottom: 50px;
    width: 110px;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
}

#rules p {
    margin: 0;
    color: white;
    font-weight: 600;
}

#game-area button {
    margin: 0 20px 0 20px;
    height: 90px;
    width: 90px;
    align-self: center;
    border-radius: 50%;
}

#paper {
    background: white url("public/icon-paper.svg") no-repeat center;
    background-size: 40px;
}

#scissors {
    background: white url("public/icon-scissors.svg") no-repeat center;
    background-size: 40px;
}

#rock {
    background: white url("public/icon-rock.svg") no-repeat center;
    background-size: 40px;
}

#show-rules {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: white url("public/image-rules.svg") no-repeat center;
}

#show-rules p {
    margin: 5rem 0 0 0;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    color: hsl(229, 25%, 31%);
}

#show-rules button {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url("public/icon-close.svg") no-repeat center;
}